{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="profile-img" src={{ image_file }}>
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="account-heading">{{ current_user.email }}</p>
            </div>
        </div>
        <form method='POST' action='' class="update-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Update Account</legend>
                <div class="form-item">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-field invalid-form-field") }}
                        {% for error in form.username.errors %}
                            <div>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="form-field") }}
                    {% endif %}
                </div>
                <div class="form-item">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-field invalid-form-field") }}
                        {% for error in form.email.errors %}
                            <div>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-field") }}
                    {% endif %}
                </div>
            </fieldset>   
            <div class="form-item">
                {{ form.submit(class="register-btn") }}
            </div> 
        </form>
    </div>
{% endblock content %}