{% extends 'layout.html' %}
{% block content %}
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Add new post</legend>
            <div class="form-item">
                {{ form.title.label(class="form-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-field invalid-form-field") }}
                    {% for error in form.title.errors %}
                        <div>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.title(class="form-field") }}
                {% endif %}
            </div>
            <div class="form-item">
                {{ form.content.label(class="form-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-field invalid-form-field") }}
                    {% for error in form.content.errors %}
                        <div>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.content(class="form-field") }}
                {% endif %}
            </div>
        </fieldset>   
        <div class="form-item">
            {{ form.submit(class="register-btn") }}
        </div> 
    </form>
    {% for post in posts %}
        <div class="post">
            <div class="post-info">
                <img class="profile-img" src={{ image_file }}>
                <h3>Author: {{ post.author.username }}</h3>
                <p>Created on: {{ post.date_posted }} <p>
            </div>
            <h3 class="post-title">{{ post.title }}:</h3>
            <p class="post-content">{{ post.content }}</p>
            <a href="{{ url_for("remove_post", post_id=post.id) }}" class="delete-post"> Delete</a>
            <a href="{{ url_for("update_post", post_id=post.id) }}" class="delete-post"> Update</a>
        </div>
    {% endfor %}
{% endblock content %}}